body {
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
}

p.author {
  width: 75%;
  font-style: italic;
}

div.intro {
  width: 50%;
  color: red;
  font-family: 'Homemade Apple', cursive;
  font-weight: lighter;
  font-style: italic;
}

img.intro {
  width: 100%;
  height: 30%;
}
